*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #2ecc71 white;
}

body{
  font-family: Verdana, Tahoma, sans-serif;
}

a{
  text-decoration: none;
  font-weight: 600;
}

h1, h2{
  font-weight: 700;
  line-height: 1.2;
  margin: 10px 0;
  
}

p{
  font-size: 17.5px;
}

img{
  width: 100%;
}

.green-bg {
  background-color: #2ecc71;
}

.button {
  display: inline-block;
  padding: 10px 50px;
  background-color: white;
  color: #137a3e;
  text-decoration: none;
  border: 5px #fff;
  border-radius: 40px;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.button:hover {
  background-color: #137a3e;
  color: #fff;
  transition: 0.2s ease-in;
}

section {
  padding: 40px;
  color: #fff;
}

.container {
  width: 70%;
  text-align: center; 
  margin: 0 auto;
}

/* Navbar */
header {
  background-color: transparent;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 10px;
}

.logo img {
  max-width: 150px;
  height: auto;
  margin-right: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end; 
  align-items: center;
}

nav li {
  margin-left: 10px; 
}

nav li:first-child {
  margin-left: 0; 
}

nav li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  transition: color 0.3s;
}

.inicio {
  color:#2ecc71;
}

.inicio a:hover {
  color:black;
}

nav li:first-child a.green-link {
  color: #2ecc71;
}

nav li a:hover {
  background-color: #0e9446;
  color: #fff; 
}

nav .button{
  background-color: #27ae60;
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 40px;
}

nav .button:hover {
  background-color: #108741;
  color: #fff;
  transition: 0.3s ease-in;
}

nav .whats {
  width: 30px;
  margin-right: 5px;
}

/* Início */
section h1 {
  margin-bottom: 20px;
}

#inicio {
  display: inline-block;
  position: relative;
  border: 20px;
  background-color:#2ecc71;
}

#inicio figcaption {
  position: absolute;
  top: 1%;
  font-size: 40px;
  color: #2ecc71;
  text-align: center;
  padding: 0 5%;
  text-shadow: 5px 5px 5px black;
}

/* Sobre nós */
#sobre-nos, #servicos {
  display: flex;
  align-items: center;
  justify-content: center;
}

#sobre-nos h1 {
  font-size: 2rem;
  color: #fff;
  text-shadow: 5px 5px 5px black;
}

#sobre-nos img {
  width: 60%;
  margin: 0 0 30px;
}

#sobre-nos p {
  margin-bottom: 40px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  line-height: 1.8;
}

#sobre-nos .button {
  padding: 20px 50px;
}

.container h1{
  padding: 20px;
  font-size: 2rem;
  color: #17a050;
}

/* Serviços */
#servicos .container {
  width: 90%;
}

#servicos img{
  max-width: 200px;
  height: auto;
  border: none;
  object-fit: cover;
  padding: 10px;
}

#servicos .flexbox-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

#servicos .flexbox-item {
  flex-basis: 30%; 
  padding: 20px;
  background-color: #2ecc71;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
  border-style:ridge;
}

#servicos .flexbox-item h2 {
  font-size: 20px;
  margin-bottom: 10px;
  text-shadow:0 0 5px rgba(0, 0, 0, 0.3);
}

#servicos .flexbox-item p {
  font-size: 16px;
  margin-bottom: 20px;
}

#servicos .flexbox-item:hover{
  transform: scale(1.05);
}

#servicos .flexbox-item img {
  width: 100%; 
  height: 200px; 
  object-fit: cover; 
  border-radius: 5px;
  background-color: transparent;
  border-color: #000;
  border-style:dashed;
}

#servicos img{
  width: 300px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Depoimentos */
.depoimentoh1{
  letter-spacing: 4px;
  margin-bottom: 45 px;
  text-align: center;
  font-size: 2.2rem;
  color: #17a050;
}

.carousel {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 20px 0;
}
.carousel img{
  width: 100%;
  height: 400px; 
  object-fit: cover; 
  border-radius: 10px;
  border-style:inset;
}

.carousel-item {
  flex: 0 0 auto;
  width: 300px;
  margin-right: 40px; 
  scroll-snap-align: start;
  background-color: #2ecc71;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
  position: relative;
  border-style: ridge;
}

.carousel-item:first-child {
  margin-left: 20px;
}

.carousel-item:last-child {
  margin-right: 20px;
}

.carousel-item h2 {
  margin-bottom: 10px;
  font-size: 18px;
}

.carousel-item p {
  margin-bottom: 20px;
  font-size: 16px;
}

.carousel-item:hover {
  transform: scale(1.05);
}

.carousel-item:first-child {
  margin-left: 20px;
}

.carousel-item:last-child {
  margin-right: 20px;
}

.child {
  width: 100%;
  max-width: 1600px;
  margin: auto;
  padding: 20px;
}

/* Galeria */
.galleryContainer {
  width: 100%;
}

.galleryContainer h1 {
  letter-spacing: 4px;
  margin-bottom: 35px;
  text-align: center;
  font-size: 2rem;
  color: #17a050;
}

.galleryContainer .grandson {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.galleryContainer .img {
  flex: 25%;
  overflow: hidden;
  cursor: pointer;
  width: 300px;
  height: 250px;
  object-fit: cover;
  margin: 10px;
  padding: 10px;
  border-radius: 10px; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

.galleryContainer .img img {
  width: 100%;
  height: 100%;
  transition: 0.4s;
  border-radius: 10px;
}

.galleryContainer .img:hover img {
  transform: scale(1.1);
}

.galleryContainer h2 {
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  color: #fff;
}

/* Contato */
.container-contato {
  background-color:#F5F5F5;
  padding-bottom: 20px;
}

#contato {
  color: #fff;
  text-align: center;
  padding: 0px;
  margin-top: 1;
}

#contato h1 {
  margin-bottom: 20px;
  padding-top: 40px;
}

#contato p {
  font-size: 17.5px;
  margin-bottom: 40px;
}

.contact-text{
  color:#27ae60;
  font-size: 35px;
}

.contact-p{
  color:#27ae60;
  font-size:20px;
  margin-bottom: 30px;
}

/* Footer */
footer {
  background-color: #2ecc71;
  padding: 20px;
  text-align: center;
  border: 10px;
}

.flexbox-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.flexbox-item {
  width: 30%;
  padding: 20px;
  background-color: #2ecc71;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.flexbox-item h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.flexbox-item p {
  font-size: 16px;
  margin-bottom: 20px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-media{
  align-items: center;
}

.social-media img {
  width: 30px;
  height: 30px;
  margin:5px;
  align-items: center;
  text-align: center;
}

.social-media img:hover {
  transform: scale(1.1);
}

.map-text {
  text-align: center;
  padding: 20px;
  border-radius: 3000px;
  color: #fff;
  font-size: 18px;
  background-color: #2ecc71;
}

.map {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.map iframe {
  border: 5px solid #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.map iframe:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 1000px) {
  nav .button{
    width: 170px;
    padding: 10px 20px;
  }

  nav li {
    margin-left: 0px; 
  }

  #servicos .container {
    width: 100%;
  }
}

@media screen and (max-width: 1080px) {
  nav {
    flex-direction: column;
    align-items: center;
    background-color: #2ecc71;
    padding: 10px 0;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    margin: 10px 0;
  }

  nav li a {
    color: #fff;
    font-size: 16px;
  }

  nav .button {
    margin: 20px 0;
  }

  .inicio {
    color: #fff;
  }

  h1 {
    font-size: 0.7em;
  }

  #sobre-nos img {
    width: 100%;
  }

  #sobre-nos p {
    font-size: 15px;
  }

  .container {
    width: 90%;
  }

  #servicos .flexbox-item {
    flex-basis: 100%;
  }

  #servicos img {
    width: 100%;
  }

  .carousel {
    overflow-x: auto;
  }

  .carousel-item {
    flex-basis: 70%;
  }

  .galleryContainer .img {
    flex: 50%;
  }

  #contato h1 {
    font-size: 25px;
  }

  #contato .contact-p {
    font-size: 17px;
  }

  .map-text {
    font-size: 16px;
  }

  .map iframe {
    width: 100%;
    height: 300px;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .social-media img {
    width: 20px;
    height: 20px;
    margin: 5px;
  }
}
* {
  scrollbar-width: thin;
  scrollbar-color: #2ecc71 white;
}



*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-thumb {
  background-color:#2ecc71;
  border-radius: 20px;
  border: 3px solid white;
}
